.editor {
  /* Removed this chunk because I don't use code-fold

  .CodeMirror-foldgutter-open:after {
    // Those little arrows in the gutter
    color: @sniper01;
  }
  .CodeMirror-foldgutter-folded:after {
    // The arrows after you collapse code
    color: @sniper01;
  }
  .CodeMirror.over-gutter,
  .CodeMirror-activeline {
    .CodeMirror-foldgutter-open:after {
      // Arrows when hovering on the gutter
      color: @sniper03;
    }
  }
  .CodeMirror-foldmarker {
    // The [...] marking collapsed code
    border-color: @sniper02;
    background-color: @sniper03;
    color: @sniper04;
  }
  
  */
  /* All 'dem swatches */
  /* Active Line Highlight support */
}
.editor .CodeMirror {
  background-color: #6ca1b4;
}
.editor .CodeMirror-scroll,
.editor .CodeMirror-dialog {
  color: #0f1f3f;
}
.editor .CodeMirror-gutters {
  background-color: #6297aa;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.editor .CodeMirror-linenumber {
  color: #0f1f3f;
}
.editor .CodeMirror-selected {
  background-color: #1FD16F;
}
.editor .CodeMirror-focused .CodeMirror-selected {
  background-color: #1FD16F;
}
.editor .CodeMirror-cursor {
  border-left: 1px solid #1FD16F;
}
.editor .CodeMirror-matchingbracket,
.editor .CodeMirror-matchingtag {
  background: rgba(0, 0, 0, 0.1) !important;
  color: #e5a100 !important;
  border-bottom: 1px solid #e5a100 !important;
}
.editor .CodeMirror .CodeMirror-linewidget img.inline-widget {
  background: rgba(0, 0, 0, 0.1);
}
.editor .cm-searching {
  background-color: #8cdfb9;
  color: #0f1f3f !important;
}
.editor .CodeMirror .cm-url {
  color: #6f000a;
}
.editor .CodeMirror .cm-atom,
.editor .CodeMirror .cm-formatting-list.cm-variable-3,
.editor .CodeMirror .cm-string,
.editor .CodeMirror .cm-string-2,
.editor .CodeMirror .cm-hr {
  color: #002f85;
}
.editor .CodeMirror .cm-number,
.editor .CodeMirror .cm-attribute,
.editor .CodeMirror .cm-plus {
  color: #e5a100;
}
.editor .CodeMirror .cm-def,
.editor .CodeMirror .cm-property {
  color: #6f000a;
}
.editor .CodeMirror .cm-variable {
  color: #002f85;
}
.editor .CodeMirror .cm-keyword,
.editor .CodeMirror .cm-formatting-list.cm-variable-2,
.editor .CodeMirror .cm-operator,
.editor .CodeMirror .cm-meta,
.editor .CodeMirror .cm-bracket {
  color: #0f1f3f;
}
.editor .CodeMirror .cm-comment {
  color: white;
  font-style: italic;
}
.editor .CodeMirror .cm-error,
.editor .CodeMirror .cm-minus {
  color: #bf0600;
}
.editor .CodeMirror .cm-formatting-header {
  opacity: 0.3;
}
.editor .CodeMirror .cm-header {
  color: #002f85;
}
.editor .CodeMirror .cm-link {
  color: #6f000a;
  text-underline-position: under;
}
.editor .CodeMirror .cm-rangeinfo {
  color: #002f85;
}
.editor .CodeMirror .cm-builtin {
  color: #002f85;
}
.editor .CodeMirror .cm-qualifier,
.editor .CodeMirror .cm-tag {
  color: #bf0600;
}
.editor .CodeMirror .cm-quote {
  color: #8cdfb9;
  font-style: italic;
}
.editor .CodeMirror .cm-whitespace::before {
  color: #6297aa;
  opacity: 0.4;
}
.editor .CodeMirror .cm-formatting-quote,
.editor .CodeMirror .cm-formatting-strong,
.editor .CodeMirror .cm-formatting-em {
  opacity: 0.6;
}
.editor .CodeMirror .cm-strong {
  color: white;
}
.editor .CodeMirror .cm-em {
  color: #002f85;
}
.editor .CodeMirror .CodeMirror-code > div > pre > span::after,
.editor .CodeMirror .CodeMirror-line > span::after {
  color: #e5a100;
}
.editor .CodeMirror .cm-inline-code {
  background: rgba(0, 0, 0, 0.1);
  color: #002f85;
}
.editor .CodeMirror .gfm-codeblock-bg.CodeMirror-linebackground {
  background: rgba(0, 0, 0, 0.1);
}
.editor .CodeMirror .cm-table-sep,
.editor .CodeMirror .table-row.table-row-1 {
  color: #6f000a;
}
.editor .CodeMirror-activeline-background,
.editor .CodeMirror-activeline-gutter {
  background-color: rgba(140, 223, 185, 0.1) !important;
}
